# Benches NTA

Trees per unit length of street.

In [1]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt
import math
from sklearn import preprocessing


%matplotlib inline

In [2]:
from shapely.geometry import LineString, Polygon, Point, LinearRing
from shapely.ops import transform
from functools import partial
import pyproj

## Benches

In [9]:
#benches data
#benches = gp.GeoDataFrame.from_file('../../data/streets/citybench/NYC_CityBench.shp')
#
#parks = gp.GeoDataFrame.from_file('../../data/parks/Parks Properties.geojson')
benchescount = pd.read_csv('../../data/streets/benchesNTA.csv')
plazscount = pd.read_csv('../../data/streets/plazasNTA.csv')
streetlen = pd.read_csv('../../data/streets/StreetLenNTA.csv')

### Data Reading

In [4]:
#nta = gp.GeoDataFrame.from_file('../../data/general/nynta_16b/nynta.shp')
#trees = gp.GeoDataFrame.from_file('../../data/streets/2015StreetTreeCensusTreeData.geojson')

#pavements = gp.GeoDataFrame.from_file('../../data/streets/StreetPavementRating.geojson')
#ct_to_nta = pd.read_csv('../../data/general/2010_Census_Tract_to_Neighborhood_Tabulation_Area_Equivalency_table.csv')

In [5]:
plazscount.head(2)

,FID,BoroCode,CountyFIPS,NTACode,NTAName,Count_plazas
0,70,4,81,QN30,Maspeth,11
1,170,1,61,MN24,SoHo-TriBeCa-Civic Center-Little Italy,9

In [6]:
#parks['centroid'] = gp.GeoSeries(parks['geometry'].centroid)

NameError: name 'parks' is not defined

In [12]:
# creating files with only bench count and NTA & Plazas count and NTA
benachc = benchescount[['NTACode','Count_Benches']]
plazasc = plazscount[['NTACode','Count_plazas']]

In [13]:
#merging on NTA
benachc = benachc.merge(plazasc, on='NTACode', how='inner')

In [14]:
benachc.head(5)

  NTACode  Count_Benches  Count_plazas
0    BK88             10             3
1    QN52              2             2
2    QN48              2             0
3    QN51              1             3
4    QN27              2             4

In [15]:
# count = aggragatiion benches per NTA for plazas + benches 
benachc['count'] = benachc['Count_Benches'] + benachc['Count_plazas']

In [16]:
# creating a new DF. NTAbenchplaz is the inclusive source for number of bencehs and plazas per NTA 
NTAbenchplaz = benachc[['NTACode','count']]

In [17]:
#Generated from arcgis
#linker_lion = gp.GeoDataFrame.from_file('../../data/general/linklion/linklion.shp')

In [8]:
#3treescount = pd.read_csv('../../data/streets/treescount.csv')

### Data Exploration

In [18]:
#linker_lion[['LBoro','LCT2010','LCT2010Suf',]].head()

   LBoro LCT2010 LCT2010Suf
0      2     149       None
1      2     265       None
2      2     135       None
3      2     135       None
4      2     335       None

In [ ]:
NTAbenchplaz.to_csv('NTAbenchplaz.csv')

### Shapefile CRS

In [ ]:
#print nta.crs
#print benches.crs
#print trees.crs
#print linker_lion.crs

### Length of streets by NTA

In [14]:
#Convert Census Tract to str and pad with zeros to make it 6 digit
#ct_to_nta['2010 Census Tract'] = ct_to_nta['2010 Census Tract'].astype(str)
#ct_to_nta['2010 Census Tract'] = ct_to_nta['2010 Census Tract'].apply(lambda x : x.zfill(6))

In [19]:
#Convert Boro Code to string and merge with census tract
#ct_to_nta['2010 NYC Borough Code'] = ct_to_nta['2010 NYC Borough Code'].astype(str)
#ct_to_nta['BCT2010'] = ct_to_nta['2010 NYC Borough Code'] + ct_to_nta['2010 Census Tract']

In [20]:
#linker_lion['LBoro'] = linker_lion['LBoro'].astype(str)
#linker_lion['RBoro'] = linker_lion['RBoro'].astype(str)

In [21]:
#Formatting LION to Merge 
#linker_lion['LCT2010Suf'].fillna('00', inplace = True) #Replace None
#linker_lion['LCT2010Suf'] = linker_lion['LCT2010Suf'].apply(lambda x : x.zfill(2))
#linker_lion['LCT2010'].fillna('0000', inplace = True)
#linker_lion['LCT2010'] = linker_lion['LCT2010'].apply(lambda x : x.zfill(4))
#linker_lion['LCT2010Whole'] = linker_lion['LCT2010'] + linker_lion['LCT2010Suf']

In [22]:
#Adding Borocode to CT
#linker_lion['LBoroCT2010Whole'] = linker_lion['LBoro'] + linker_lion['LCT2010Whole']

In [23]:
#linker_lion['RCT2010Suf'].fillna('00', inplace = True)
#linker_lion['RCT2010Suf'] = linker_lion['RCT2010Suf'].apply(lambda x : x.zfill(2))
#linker_lion['RCT2010'].fillna('0000', inplace = True)
#linker_lion['RCT2010'] = linker_lion['RCT2010'].apply(lambda x : x.zfill(4))
#linker_lion['RCT2010Whole'] = linker_lion['RCT2010'] + linker_lion['RCT2010Suf']

In [24]:
#linker_lion['RBoroCT2010Whole'] = linker_lion['RBoro'] + linker_lion['RCT2010Whole']

In [25]:
#Merging LION table w/ census tract to NTA table
#linker_lion = linker_lion.merge(ct_to_nta, left_on='LBoroCT2010Whole', right_on='BCT2010', how='inner')

In [26]:
#Selecting only columns needed
#linker_lion = linker_lion[['SHAPE_Leng','LCT2010Whole', 'LBoroCT2010Whole', 'RCT2010Whole', 'RBoroCT2010Whole',\
                          'BCT2010', 'Neighborhood Tabulation Area (NTA)Code']]

In [28]:
#linker_lion.rename(index=str, columns={'Neighborhood Tabulation Area (NTA)Code':'LNTA'}, inplace=True)

In [29]:
#linker_lion = linker_lion.merge(ct_to_nta, left_on='RBoroCT2010Whole', right_on='BCT2010', how='inner')

In [32]:
#linker_lion.drop('BCT2010_y', axis=1, inplace=True)

In [33]:
#linker_lion.rename(index=str, columns={'BCT2010_x':'BCT2010'}, inplace=True)

In [35]:
#Grouping by NTA and summing length of street in NTA
linker_lion_rnta = linker_lion[['SHAPE_Leng', 'RNTA']].groupby('RNTA').sum()
linker_lion_lnta = linker_lion[['SHAPE_Leng', 'LNTA']].groupby('LNTA').sum()

In [36]:
linker_lion_lnta.rename(index=str, columns={'SHAPE_Leng':'LNTA_STREET_LEN'}, inplace=True)
linker_lion_rnta.rename(index=str, columns={'SHAPE_Leng':'RNTA_STREET_LEN'}, inplace=True)

In [37]:
linker_lion_lnta.head()

      LNTA_STREET_LEN
LNTA
BK09     76238.519454
BK17    397331.181701
BK19    144164.194428
BK21    156084.632553
BK23     32386.951439

In [ ]:
#street_len_nta = linker_lion_lnta.merge(linker_lion_rnta, left_index='LNTA', right_index='RNTA')

In [474]:
street_len_nta = street_len_nta.merge(treescount, left_index='LNTA', how='inner')

In [476]:
#street_len_nta['MAX_STREET_LEN'] = street_len_nta[['LNTA_STREET_LEN', 'RNTA_STREET_LEN']].max(axis=1)

In [19]:
NTAbenchplaz

    NTACode  count
0      BK88     13
1      QN52      4
2      QN48      2
3      QN51      4
4      QN27      6
5      BX46      3
6      BX35     16
7      BX98      0
8      QN28     38
9      BX55      5
10     QN07      4
11     MN06      3
12     QN02      3
13     QN71      3
14     QN46     21
15     QN38      1
16     QN68      4
17     BX13      4
18     MN15      8
19     BK25      5
20     BX59      4
21     BK68     10
22     QN41      2
23     MN11     18
24     SI99      0
25     QN18      8
26     MN17      9
27     MN19      5
28     MN31     10
29     BX01      8
..      ...    ...
165    QN45     11
166    QN05      1
167    BK78     17
168    BK77      7
169    QN20     13
170    MN24     39
171    MN27     11
172    QN43      4
173    QN44      3
174    BX26      6
175    BX40     10
176    BX41     17
177    QN10     11
178    BX14     12
179    BX63      5
180    MN03     24
181    MN34     32
182    BX28      9
183    BX43     13
184    BK46      0
185    QN22     16
186    QN23      6
187    QN53      6
188    SI22     11
189    SI35      4
190    BK99      3
191    BX22      7
192    BX29      7
193    QN19      3
194    QN99      1

[195 rows x 2 columns]

In [ ]:
benchlength = benchlength .merge(ct_to_nta, on='NTA', how='inner')

In [478]:


street_len_nta['TREES_PER_UNIT_LENGTH'] = street_len_nta['count'] / streetlen['NTA_STREET_LEN']

In [484]:
#std_scaler = preprocessing.StandardScaler()
#street_len_nta['STD_TREES_PER_UNIT_LENGTH'] = std_scaler.fit_transform(street_len_nta['TREES_PER_UNIT_LENGTH'])

In [487]:
#street_len_nta.rename(index=str, columns={'NTA':'NTACode'}, inplace=True)

In [489]:
#street_quality_indicator = street_len_nta[['NTACode','STD_TREES_PER_UNIT_LENGTH']]

In [491]:
street_quality_indicator.to_csv('StreetTreesIndicator.csv')

In [10]:
streetlen

     Unnamed: 0  NTA_STREET_LEN   NTA
0             1    84074.400771  BK09
1             2   416142.744684  BK17
2             3   155225.173873  BK19
3             4   164313.426249  BK21
4             5    43969.882557  BK23
5             6   183791.636138  BK25
6             7   145410.117910  BK26
7             8   137352.828666  BK27
8             9   270872.626524  BK28
9            10   221205.290930  BK29
10           11   196392.395790  BK30
11           12   542604.480790  BK31
12           13   264716.639124  BK32
13           14   284765.643677  BK33
14           15   151810.662104  BK34
15           16   218877.059664  BK35
16           17   260424.713683  BK37
17           18   232321.459360  BK38
18           19   117310.890530  BK40
19           20    94599.622909  BK41
20           21   271821.913432  BK42
21           22   198556.871448  BK43
22           23   180801.987988  BK44
23           24   350992.373746  BK45
24           25    97723.791994  BK46
25           26   440682.315642  BK50
26           27   347152.892751  BK58
27           28   184590.034390  BK60
28           29   303833.606550  BK61
29           30   117969.669181  BK63
..          ...             ...   ...
163         164   146980.473181  QN60
164         165   267428.234409  QN61
165         166   175482.964028  QN62
166         167   198280.468124  QN63
167         168   242851.752887  QN66
168         169   143797.764448  QN68
169         170   247357.615733  QN70
170         171    93633.698966  QN71
171         172   407487.677971  QN72
172         173   267381.082379  QN76
173         174   569165.922199  QN98
174         175   918857.086693  QN99
175         176   548807.637779  SI01
176         177   892576.577897  SI05
177         178   362426.786672  SI07
178         179   205888.243293  SI08
179         180   469762.430327  SI11
180         181   294986.107439  SI12
181         182   255358.252803  SI14
182         183   302894.858623  SI22
183         184   562773.536782  SI24
184         185   284044.987944  SI25
185         186   315001.256829  SI28
186         187   309072.830593  SI32
187         188   229168.003886  SI35
188         189   292261.225507  SI36
189         190   279548.180349  SI37
190         191   282098.034520  SI45
191         192   236162.878299  SI48
192         193   438286.442567  SI54

[193 rows x 3 columns]