## Streets aggregated quality

In [480]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt
import math
from sklearn import preprocessing


%matplotlib inline

In [75]:
from shapely.geometry import LineString, Polygon, Point, LinearRing
from shapely.ops import transform
from functools import partial
import pyproj

### Data Reading

In [340]:
nta = gp.GeoDataFrame.from_file('../../data/general/nynta_16b/nynta.shp')
trees = gp.GeoDataFrame.from_file('../../data/streets/2015StreetTreeCensusTreeData.geojson')
benches = gp.GeoDataFrame.from_file('../../data/streets/citybench/NYC_CityBench.shp')
pavements = gp.GeoDataFrame.from_file('../../data/streets/StreetPavementRating.geojson')

In [416]:
ct_to_nta = pd.read_csv('../../data/general/2010_Census_Tract_to_Neighborhood_Tabulation_Area_Equivalency_table.csv')

In [436]:
#Generated from arcgis
linker_lion = gp.GeoDataFrame.from_file('../../data/general/linklion/linklion.shp')

In [264]:
link_lion = pd.read_csv('../../data/general/lion_st.csv')

In [422]:
treescount = pd.read_csv('../../data/streets/treescount.csv')

### Data Verification

In [267]:
pd.unique(sorted(linker_lion['OBJECTID *']))

array([211945, 211946, 211947, ..., 214200, 214201, 214202])

In [ ]:
pd.unique(sorted(snapped_trees['NEAR_FID']))

In [263]:
pd.unique(linker_lion['OBJECTID']).shape

(155628,)

In [271]:
pd.unique(sorted(linker_lion['OBJECTID']))

array([     1,      2,      3, ..., 214200, 214201, 214202])

In [9]:
snapped_trees = gp.GeoDataFrame.from_file('../../data/streets/street_trees/street_trees.shp')

ERROR:Fiona:OGR Error 1: fread(6673) failed on DBF file.

### Data Exploration

In [399]:
ct_to_nta.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name
0,Bronx,5,2,031000,3704,BX31,Allerton-Pelham Gardens
1,Bronx,5,2,031200,3704,BX31,Allerton-Pelham Gardens
2,Bronx,5,2,031400,3704,BX31,Allerton-Pelham Gardens
3,Bronx,5,2,031600,3704,BX31,Allerton-Pelham Gardens
4,Bronx,5,2,031800,3704,BX31,Allerton-Pelham Gardens

In [341]:
nta.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Area,Shape_Leng,geometry
0,3,Brooklyn,047,BK88,Borough Park,54005019.0709,39247.228028,"POLYGON ((990897.9000244141 169268.1207885742,..."
1,4,Queens,081,QN52,East Flushing,29454380.0175,25843.364934,"POLYGON ((1041061.948242188 215429.4609985352,..."
2,4,Queens,081,QN48,Auburndale,34164217.6495,32446.878764,"POLYGON ((1046392.971191406 210169.7536010742,..."
3,4,Queens,081,QN51,Murray Hill,52488277.2938,33266.904732,"POLYGON ((1038593.459228516 221913.3550415039,..."
4,4,Queens,081,QN27,East Elmhurst,19726846.0178,19816.712339,"POLYGON ((1022728.274841309 217530.8084106445,..."

In [454]:
treescount.head()

    nta   NTA  count
0              24027
1  BK09  BK09   2079
2  BK17  BK17   5275
3  BK19  BK19   1055
4  BK21  BK21   1398

In [11]:
snapped_trees.columns

Index([ u'NEAR_DIST',   u'NEAR_FID',    u'address',   u'block_id',
          u'boro_ct',   u'borocode',   u'boroname', u'brch_light',
       u'brch_other',  u'brch_shoe',     u'cb_num',   u'cncldist',
         u'curb_loc', u'date_creat',   u'geometry',     u'guards',
           u'health',   u'latitude',  u'longitude',        u'nta',
         u'nta_name', u'root_grate', u'root_other', u'root_stone',
         u'sidewalk', u'spc_common',  u'spc_latin',   u'st_assem',
        u'st_senate',      u'state',     u'status',    u'steward',
       u'stump_diam', u'time_creat',   u'tree_dbh',    u'tree_id',
       u'trnk_light', u'trnk_other', u'trunk_wire',  u'user_type',
             u'x_sp',       u'y_sp',   u'zip_city',    u'zipcode'],
      dtype='object')

In [269]:
pd.unique(sorted(snapped_trees['NEAR_FID']))

array([     0,      2,      8, ..., 214114, 214186, 214196])

In [14]:
#Abandoning use of lion geojson
lion = gp.GeoDataFrame.from_file('../../data/general/lion.geojson')

In [279]:
lion.head()

,ArcCenterX,ArcCenterY,BOE_LGC,BikeLane,BoroBndry,Carto_Display_Level,ConParity,CurveFlag,FCC,FDNYID,...,ToRight,TrafDir,TrafSrc,Twisted,XFrom,XTo,YFrom,YTo,geometry,length
0,0,0,1,,,None,,,,,...,716,T,DOT,,1010964,1011265,241812,241555,LINESTRING (-73.9034682815071 40.8303620794707...,LINESTRING (-5721500.027961497 10249394.262910...
1,0,0,1,,,None,,,,,...,99,A,DOT,,1011577,1011335,255024,255164,"LINESTRING (-73.901202101452 40.8666213684178,...",LINESTRING (-5713601.216451461 10247055.556509...
2,0,0,1,,,None,,,,,...,1084,W,DOT,,1011601,1011786,239640,240230,LINESTRING (-73.9011781129234 40.8243971910923...,LINESTRING (-5722839.775339834 10249336.092523...
3,0,0,1,,,None,,,,,...,0,W,DOT,,1011601,1011786,239640,240230,LINESTRING (-73.9011781129234 40.8243971910923...,LINESTRING (-5722839.775339834 10249336.092523...
4,0,0,1,,,None,,,,,...,4664,T,DOT,,1009974,1009974,264857,265527,"LINESTRING (-73.9069580625364 40.893616230432,...",LINESTRING (-5707620.114578055 10246550.255027...

In [274]:
print str(lion.columns)

Index([         u'ArcCenterX',          u'ArcCenterY',             u'BOE_LGC',
                  u'BikeLane',           u'BoroBndry', u'Carto_Display_Level',
                 u'ConParity',           u'CurveFlag',                 u'FCC',
                    u'FDNYID',
       ...
                   u'ToRight',             u'TrafDir',             u'TrafSrc',
                   u'Twisted',               u'XFrom',                 u'XTo',
                     u'YFrom',                 u'YTo',            u'geometry',
                    u'length'],
      dtype='object', length=115)

In [287]:
#Columns being used - LCT2010
#
#
len(pd.unique(lion['LCT2010']))

292

In [290]:
len(pd.unique(linker_lion['RCT2010']))

70

In [3]:
nta.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,OBJECTID,geometry
0,3,Brooklyn,047,BK88,Borough Park,1,"POLYGON ((-73.9760507905698 40.6312841471042, ..."
1,4,Queens,081,QN52,East Flushing,2,"POLYGON ((-73.79493384594591 40.7578063026709,..."
2,4,Queens,081,QN48,Auburndale,3,"POLYGON ((-73.7757397458527 40.7433339175923, ..."
3,4,Queens,081,QN51,Murray Hill,4,"POLYGON ((-73.8037916164017 40.7756183875692, ..."
4,4,Queens,081,QN27,East Elmhurst,5,"POLYGON ((-73.8610986491861 40.7636727490283, ..."

In [4]:
trees.head()

,address,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,cb_num,cncldist,...,tree_dbh,tree_id,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode
0,45 DUPONT STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,4,101233,No,No,No,Volunteer,995754.899878,207355.752989,Brooklyn,11222
1,2 CLAY STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,4,101234,No,No,No,Volunteer,995747.63677,207412.792245,Brooklyn,11222
2,2 CLAY STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,4,101235,No,No,No,Volunteer,995743.885137,207442.254128,Brooklyn,11222
3,237 FRANKLIN STREET,216291,3056300,3,Brooklyn,Yes,No,No,301,33,...,15,101400,No,No,No,Volunteer,995653.777377,207228.768335,Brooklyn,11222
4,237 FRANKLIN STREET,216291,3056300,3,Brooklyn,Yes,No,No,301,33,...,18,101401,No,No,No,Volunteer,995616.258095,207224.169263,Brooklyn,11222

In [5]:
trees.columns

Index([   u'address',   u'block_id',    u'boro_ct',   u'borocode',
         u'boroname', u'brch_light', u'brch_other',  u'brch_shoe',
           u'cb_num',   u'cncldist', u'created_at',   u'curb_loc',
         u'geometry',     u'guards',     u'health',   u'latitude',
        u'longitude',        u'nta',   u'nta_name', u'root_grate',
       u'root_other', u'root_stone',   u'sidewalk', u'spc_common',
        u'spc_latin',   u'st_assem',  u'st_senate',      u'state',
           u'status',    u'steward', u'stump_diam',   u'tree_dbh',
          u'tree_id', u'trnk_light', u'trnk_other', u'trunk_wire',
        u'user_type',       u'x_sp',       u'y_sp',   u'zip_city',
          u'zipcode'],
      dtype='object')

In [286]:
len(pd.unique(trees['boro_ct']))

2082

In [6]:
benches.head()

,Address,BID,BenchID,Borough,Bus_Route,Category,ComDist,Geocode_Ad,Installati,SiteID,Street,Type,X_Street,geometry
0,2900 Broadway,Not Applicable,1594,1,Not Applicable,Municipal Facilities,109,2900 Broadway,2015-06-01,2551,Broadway,backed,West 113th Street & West 114th Street,POINT (993908.7933345139 232934.5870020092)
1,112 East 96th Street,Not Applicable,571,1,Not Applicable,Municipal Facilities,108,112 East 96th Street,2015-06-01,2555,East 96th Street,backed,Park Avenue & Lexington Avenue,POINT (997522.3842044175 225738.8202255815)
2,449 West 14th Street,Not Applicable,1340,1,M11,General,104,449 West 14th Street,2015-06-01,3067,West 14th Street,backless,10th Avenue & 9th Avenue,POINT (982207.0332735032 209561.3289585859)
3,208-11 26th Avenue,Not Applicable,1837,4,Not Applicable,General,407,74 Corporal Kennedy Street,2015-06-02,3071,Corporal Kennedy Street,backed,26th Avenue & Corporal Kennedy Street,POINT (1046565.456065595 216941.4683977515)
4,84-02 Northern Boulevard,Not Applicable,1337,4,Not Applicable,General,403,84-02 Northern Boulevard,2015-06-02,3092,84th Street,backed,84th Street & 85th Street,POINT (1016540.393084347 214617.2181250006)

In [8]:
pavements.head()

,geometry,length,rating_b,rating_date,rating_fy_s,rating_word,segment_id,shape_len,usage_class,width
0,LINESTRING (-74.25393145629884 40.502320647519...,114,0,1899-11-30T00:00:00.000Z,0,NR,9,114.01754251,None,30
1,LINESTRING (-74.25348929042963 40.502351818245...,123,0,1899-11-30T00:00:00.000Z,0,NR,10,123.490890352,None,30
2,LINESTRING (-74.25348929042963 40.502351818245...,999,0,1899-11-30T00:00:00.000Z,0,NR,11,970.48132388,None,30
3,LINESTRING (-74.25272401241558 40.502518196033...,221,0,1899-11-30T00:00:00.000Z,0,NR,12,221.289403271,None,30
4,LINESTRING (-74.25272401241558 40.502518196033...,933,0,1899-11-30T00:00:00.000Z,0,NR,13,932.40173745,None,30

### Shapefile CRS

In [427]:
print nta.crs
print benches.crs
print trees.crs
print lion.crs
print linker_lion.crs

{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}
{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}
{'init': u'epsg:4326'}
{'init': u'epsg:4326'}
{u'lon_0': -74, u'datum': u'NAD83', u'y_0': 0, u'no_defs': True, u'proj': u'lcc', u'x_0': 300000, u'units': u'us-ft', u'lat_2': 41.03333333333333, u'lat_1': 40.66666666666666, u'lat_0': 40.16666666666666}

## Computing length of streets

In [31]:
#Length is in degrees
lion['length'] = lion['geometry'].length

In [33]:
#Conversion from degrees to meters 
#Source - http://gis.stackexchange.com/questions/80881/what-is-the-unit-the-shapely-length-attribute
project = partial(
    pyproj.transform,
    pyproj.Proj(init='EPSG:4326'),
    pyproj.Proj(init='EPSG:32633'))

In [77]:
#length in meters
lion['length'] = pd.Series(transform(project, x) for x in lion['geometry'])
#print str(line2.length) + " meters"

### Nearest street to each tree

In [147]:
trees['dist_to_street'] = trees.distance(lion)
trees['buffer'] = np.nan

In [169]:
for i in trees.index: 
    trees.loc[i,'buffer'] = trees['geometry'][i].buffer(trees['dist_to_street'][i])

ERROR:shapely.geos:IllegalArgumentException: RobustDeterminant encountered non-finite numbers

ValueError: No Shapely geometry can be created from null value

In [225]:
#Once you have the buffer
lion['OBJECTID']

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
        ...
1970    1971
1971    1972
1972    1973
1973    1974
1974    1975
1975    1976
1976    1977
1977    1978
1978    1979
1979    1980
1980    1981
1981    1982
1982    1983
1983    1984
1984    1985
1985    1986
1986    1987
1987    1988
1988    1989
1989    1990
1990    1991
1991    1992
1992    1993
1993    1994
1994    1995
1995    1996
1996    1997
1997    1998
1998    1999
1999    2000
Name: OBJECTID, dtype: int64

In [202]:
trees.loc[trees['dist_to_street'].isnull()].shape

(466341, 43)

In [198]:
trees.loc[trees['dist_to_street'] == 0.10933455881165251]

,address,block_id,boro_ct,borocode,boroname,brch_light,brch_other,brch_shoe,cb_num,cncldist,...,trnk_light,trnk_other,trunk_wire,user_type,x_sp,y_sp,zip_city,zipcode,dist_to_street,buffer
0,45 DUPONT STREET,216486,3056300,3,Brooklyn,No,No,No,301,33,...,No,No,No,Volunteer,995754.899878,207355.752989,Brooklyn,11222,0.109335,"POLYGON ((-73.84915126953956 40.7358127696309,..."

In [203]:
trees.shape

(468341, 43)

In [187]:
len((trees.loc[trees['dist_to_street'] == 0.109335]))

0

In [206]:
len(pd.unique(sorted(snapped_trees['NEAR_FID'])))

40384

In [ ]:
#pavements.plot(figsize = (12,12))

In [ ]:
benches.plot(figsize=(16,16))

In [208]:
trees_from_street = lion.distance(trees)

In [210]:
trees_from_street.loc[trees_from_street.isnull()].shape

(466341,)

## Iterative calculation of closest street to tree and distance

In [331]:
import math

In [333]:
trees['dist_to_street'] = float("inf")
trees['closest_st_id'] = np.nan

In [309]:
for i in range(len(trees)):
    for j in range(len(linker_lion)):
        trees.iloc[i]['geometry'].distance(linker_lion.iloc[j]['geometry'])

1058280.6477397205

In [310]:
trees.columns

Index([       u'address',       u'block_id',        u'boro_ct',
             u'borocode',       u'boroname',     u'brch_light',
           u'brch_other',      u'brch_shoe',         u'cb_num',
             u'cncldist',     u'created_at',       u'curb_loc',
             u'geometry',         u'guards',         u'health',
             u'latitude',      u'longitude',            u'nta',
             u'nta_name',     u'root_grate',     u'root_other',
           u'root_stone',       u'sidewalk',     u'spc_common',
            u'spc_latin',       u'st_assem',      u'st_senate',
                u'state',         u'status',        u'steward',
           u'stump_diam',       u'tree_dbh',        u'tree_id',
           u'trnk_light',     u'trnk_other',     u'trunk_wire',
            u'user_type',           u'x_sp',           u'y_sp',
             u'zip_city',        u'zipcode', u'dist_to_street',
               u'buffer'],
      dtype='object')

In [314]:
linker_lion.iloc[78]['OBJECTID']

80

In [321]:
pd.unique(linker_lion['BoroBndry'])

array([None, u'L', u'R'], dtype=object)

### Calculating the number of

In [324]:
linker_lion[linker_lion['LBoro'] == linker_lion['RBoro']].shape

(155312, 115)

In [325]:
linker_lion.shape

(155628, 115)

In [327]:
boundary_lion = linker_lion[linker_lion['LBoro'] != linker_lion['RBoro']]
non_boundary_lion = linker_lion[linker_lion['LBoro'] == linker_lion['RBoro']]

### Calculating for the boundary streets

In [ ]:

for i in trees.index:
    for j in boundary_lion.index:
        dist = trees.iloc[i]['geometry'].distance(linker_lion.iloc[j]['geometry'])
        if dist < trees.iloc[i]['dist_to_street']:
            trees.loc[i,'closest_st_id'] = linker_lion.iloc[j]['OBJECTID']

In [ ]:
#startted at 5.58
import datetime

print datetime.datetime.now()

### Calculating for the non - boundary streets

In [ ]:
#Brooklyn

In [ ]:
#Bronx

In [ ]:
#Manhattan

In [ ]:
#Queens

In [ ]:
#Staten Island

### Length of streets by NTA

In [437]:
#Convert Census Tract to str and pad with zeros to make it 6 digit
ct_to_nta['2010 Census Tract'] = ct_to_nta['2010 Census Tract'].astype(str)
ct_to_nta['2010 Census Tract'] = ct_to_nta['2010 Census Tract'].apply(lambda x : x.zfill(6))

In [438]:
ct_to_nta['2010 NYC Borough Code'] = ct_to_nta['2010 NYC Borough Code'].astype(str)
ct_to_nta['BCT2010'] = ct_to_nta['2010 NYC Borough Code'] + ct_to_nta['2010 Census Tract']

In [439]:
linker_lion['LBoro'] = linker_lion['LBoro'].astype(str)
linker_lion['RBoro'] = linker_lion['RBoro'].astype(str)

In [440]:
#Merging
linker_lion['LCT2010Suf'].fillna('00', inplace = True)
linker_lion['LCT2010Suf'] = linker_lion['LCT2010Suf'].apply(lambda x : x.zfill(2))
linker_lion['LCT2010'].fillna('0000', inplace = True)
linker_lion['LCT2010'] = linker_lion['LCT2010'].apply(lambda x : x.zfill(4))
linker_lion['LCT2010Whole'] = linker_lion['LCT2010'] + linker_lion['LCT2010Suf']

In [441]:
linker_lion['LBoroCT2010Whole'] = linker_lion['LBoro'] + linker_lion['LCT2010Whole']

In [442]:
linker_lion['RCT2010Suf'].fillna('00', inplace = True)
linker_lion['RCT2010Suf'] = linker_lion['RCT2010Suf'].apply(lambda x : x.zfill(2))
linker_lion['RCT2010'].fillna('0000', inplace = True)
linker_lion['RCT2010'] = linker_lion['RCT2010'].apply(lambda x : x.zfill(4))
linker_lion['RCT2010Whole'] = linker_lion['RCT2010'] + linker_lion['RCT2010Suf']

In [443]:
linker_lion['RBoroCT2010Whole'] = linker_lion['RBoro'] + linker_lion['RCT2010Whole']

In [444]:
linker_lion = linker_lion.merge(ct_to_nta, left_on='LBoroCT2010Whole', right_on='BCT2010', how='inner')

In [445]:
linker_lion = linker_lion[['SHAPE_Leng','LCT2010Whole', 'LBoroCT2010Whole', 'RCT2010Whole', 'RBoroCT2010Whole',\
                          'BCT2010', 'Neighborhood Tabulation Area (NTA)Code']]

In [446]:
linker_lion.head()

,SHAPE_Leng,LCT2010Whole,LBoroCT2010Whole,RCT2010Whole,RBoroCT2010Whole,BCT2010,Neighborhood Tabulation Area (NTA)Code
0,396.030947,014900,2014900,018500,2018500,2014900,BX35
1,253.726026,014900,2014900,018500,2018500,2014900,BX35
2,218.414795,014900,2014900,014900,2014900,2014900,BX35
3,586.719482,014900,2014900,015100,2015100,2014900,BX35
4,586.719482,014900,2014900,015100,2015100,2014900,BX35

In [447]:
linker_lion.rename(index=str, columns={'Neighborhood Tabulation Area (NTA)Code':'LNTA'}, inplace=True)

In [448]:
linker_lion = linker_lion.merge(ct_to_nta, left_on='RBoroCT2010Whole', right_on='BCT2010', how='inner')

In [449]:
linker_lion.head()

,SHAPE_Leng,LCT2010Whole,LBoroCT2010Whole,RCT2010Whole,RBoroCT2010Whole,BCT2010_x,LNTA,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name,BCT2010_y
0,396.030947,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
1,253.726026,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
2,52.777042,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
3,49.232051,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500
4,229.010197,013500,2013500,018500,2018500,2013500,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose,2018500

In [450]:
linker_lion.rename(index=str, columns={'Neighborhood Tabulation Area (NTA)Code':'RNTA'}, inplace=True)

In [451]:
linker_lion.drop('BCT2010_y', axis=1, inplace=True)

In [452]:
linker_lion.rename(index=str, columns={'BCT2010_x':'BCT2010'}, inplace=True)

In [453]:
linker_lion.head()

,SHAPE_Leng,LCT2010Whole,LBoroCT2010Whole,RCT2010Whole,RBoroCT2010Whole,BCT2010,LNTA,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,RNTA,Neighborhood Tabulation Area (NTA) Name
0,396.030947,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
1,253.726026,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
2,52.777042,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
3,49.232051,014900,2014900,018500,2018500,2014900,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose
4,229.010197,013500,2013500,018500,2018500,2013500,BX35,Bronx,5,2,018500,3705,BX35,Morrisania-Melrose

In [458]:
linker_lion_rnta = linker_lion[['SHAPE_Leng', 'RNTA']].groupby('RNTA').sum()
linker_lion_lnta = linker_lion[['SHAPE_Leng', 'LNTA']].groupby('LNTA').sum()

In [459]:
linker_lion_lnta.rename(index=str, columns={'SHAPE_Leng':'LNTA_STREET_LEN'}, inplace=True)
linker_lion_rnta.rename(index=str, columns={'SHAPE_Leng':'RNTA_STREET_LEN'}, inplace=True)

In [472]:
street_len_nta = linker_lion_lnta.merge(linker_lion_rnta, left_index='LNTA', right_index='RNTA')

In [474]:
street_len_nta = street_len_nta.merge(treescount, left_index='LNTA',right_on='NTA', how='inner')

In [476]:
street_len_nta['MAX_STREET_LEN'] = street_len_nta[['LNTA_STREET_LEN', 'RNTA_STREET_LEN']].max(axis=1)

In [478]:
street_len_nta['TREES_PER_UNIT_LENGTH'] = street_len_nta['count'] / street_len_nta['MAX_STREET_LEN']

In [484]:
std_scaler = preprocessing.StandardScaler()
street_len_nta['STD_TREES_PER_UNIT_LENGTH'] = std_scaler.fit_transform(street_len_nta['TREES_PER_UNIT_LENGTH'])

In [487]:
street_len_nta.rename(index=str, columns={'NTA':'NTACode'}, inplace=True)

In [489]:
street_quality_indicator = street_len_nta[['NTACode','STD_TREES_PER_UNIT_LENGTH']]

In [491]:
street_quality_indicator.to_csv('StreetTreesIndicator.csv')