# Data munging for input into otp routing

In [1]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt

%matplotlib inline

In [90]:
#Data Reading
pop_bk = pd.read_csv('../../data/general/census_blocks/brooklyn/DEC_10_SF1_P1_with_ann.csv')
pop_bx = pd.read_csv('../../data/general/census_blocks/queens/DEC_10_SF1_P1_with_ann.csv')
pop_mn = pd.read_csv('../../data/general/census_blocks/bronx/DEC_10_SF1_P1_with_ann.csv')
pop_qu = pd.read_csv('../../data/general/census_blocks/manhattan/DEC_10_SF1_P1_with_ann.csv')
pop_si = pd.read_csv('../../data/general/census_blocks/si/DEC_10_SF1_P1_with_ann.csv')

cb = gp.GeoDataFrame.from_file('../../data/2010 Census Blocks.geojson')

In [3]:
print pop_bk.shape[0] + pop_bx.shape[0]+ pop_mn.shape[0]+ pop_qu.shape[0] +pop_si.shape[0]

39153

In [4]:
pop = pd.concat([pop_bk,pop_bx,pop_mn,pop_qu,pop_si])

In [5]:
pop.shape

(39153, 4)

In [6]:
pop.head()

,GEO.id,GEO.id2,GEO.display-label,D001
0,Id,Id2,Geography,Total
1,1000000US360470001001000,360470001001000,"Block 1000, Block Group 1, Census Tract 1, Kin...",181
2,1000000US360470001001001,360470001001001,"Block 1001, Block Group 1, Census Tract 1, Kin...",16
3,1000000US360470001001002,360470001001002,"Block 1002, Block Group 1, Census Tract 1, Kin...",31
4,1000000US360470001001003,360470001001003,"Block 1003, Block Group 1, Census Tract 1, Kin...",0

In [91]:
cb.head()

,bctcb2010,boro_code,boro_name,cb2010,ct2010,geometry,shape_area,shape_leng
0,50009001000,5,Staten Island,1000,000900,(POLYGON ((-74.07920577013245 40.6434307837456...,244589.603884,2508.94811457
1,50020011000,5,Staten Island,1000,002001,(POLYGON ((-74.07061992438017 40.6108550670541...,111006.286826,1345.88642172
2,50027001000,5,Staten Island,1000,002700,(POLYGON ((-74.07524403976549 40.6260063240241...,150406.784296,1703.38105769
3,50040001000,5,Staten Island,1000,004000,(POLYGON ((-74.08708799689826 40.6111688312392...,141296.561149,1511.17374266
4,50064001000,5,Staten Island,1000,006400,(POLYGON ((-74.07643744511992 40.6010016065558...,200784.983607,1978.24385199

In [92]:
cb['County'] = ""

In [93]:
cb.head()

,bctcb2010,boro_code,boro_name,cb2010,ct2010,geometry,shape_area,shape_leng,County
0,50009001000,5,Staten Island,1000,000900,(POLYGON ((-74.07920577013245 40.6434307837456...,244589.603884,2508.94811457,
1,50020011000,5,Staten Island,1000,002001,(POLYGON ((-74.07061992438017 40.6108550670541...,111006.286826,1345.88642172,
2,50027001000,5,Staten Island,1000,002700,(POLYGON ((-74.07524403976549 40.6260063240241...,150406.784296,1703.38105769,
3,50040001000,5,Staten Island,1000,004000,(POLYGON ((-74.08708799689826 40.6111688312392...,141296.561149,1511.17374266,
4,50064001000,5,Staten Island,1000,006400,(POLYGON ((-74.07643744511992 40.6010016065558...,200784.983607,1978.24385199,

In [94]:
print "Borocodes"
for i in range(1,6) :
    print str(i)+ " : " +list(cb[cb['boro_code'] == str(i)]['boro_name'])[0]

Borocodes
1 : Manhattan
2 : Bronx
3 : Brooklyn
4 : Queens
5 : Staten Island

County codes 
- 005 - Bronx
- 047 - Kings (Brooklyn)
- 061 - New York (Manhattan)
- 081 - Queens
- 085 - Richmond (Staten Island)

From : http://library.columbia.edu/locations/dssc/data/nycounty_fips.html

In [95]:
cb.loc[cb['boro_code'] == '5', 'County'] = '085'
cb.loc[cb['boro_code'] == '4', 'County'] = '081'
cb.loc[cb['boro_code'] == '3', 'County'] = '047'
cb.loc[cb['boro_code'] == '2', 'County'] = '005'
cb.loc[cb['boro_code'] == '1', 'County'] = '061'

In [97]:
cb['FIPS'] = cb['County']+cb['ct2010']+cb['cb2010']

In [98]:
cb['FIPS'] = cb['FIPS'].str.rjust(14,'6')
cb['FIPS'] = cb['FIPS'].str.rjust(15,'3')

In [99]:
cb['centroid'] = gp.GeoSeries(cb['geometry'].centroid)

In [100]:
cb.head()

,bctcb2010,boro_code,boro_name,cb2010,ct2010,geometry,shape_area,shape_leng,County,FIPS,centroid
0,50009001000,5,Staten Island,1000,000900,(POLYGON ((-74.07920577013245 40.6434307837456...,244589.603884,2508.94811457,085,360850009001000,POINT (-74.08059210475199 40.64407822940228)
1,50020011000,5,Staten Island,1000,002001,(POLYGON ((-74.07061992438017 40.6108550670541...,111006.286826,1345.88642172,085,360850020011000,POINT (-74.07147915547274 40.61089223200181)
2,50027001000,5,Staten Island,1000,002700,(POLYGON ((-74.07524403976549 40.6260063240241...,150406.784296,1703.38105769,085,360850027001000,POINT (-74.07650386649141 40.6262355465024)
3,50040001000,5,Staten Island,1000,004000,(POLYGON ((-74.08708799689826 40.6111688312392...,141296.561149,1511.17374266,085,360850040001000,POINT (-74.08801719603166 40.61106358037252)
4,50064001000,5,Staten Island,1000,006400,(POLYGON ((-74.07643744511992 40.6010016065558...,200784.983607,1978.24385199,085,360850064001000,POINT (-74.07792340280534 40.60095538875338)

In [101]:
cb['lon'] = [float(str(cb.ix[i]['centroid']).split(' ')[1][1:]) for i in range(len(cb))]
cb['lat'] = [float(str(cb.ix[i]['centroid']).split(' ')[2][:-1]) for i in range(len(cb))]

In [23]:
len()

39145

In [24]:
len(pop)

39153

In [102]:
cb_required = cb[['FIPS', 'lat', 'lon']]

In [103]:
foo = cb_required.merge(pop, left_on='FIPS', right_on='GEO.id2', how='inner')

In [104]:
foo.head()

,FIPS,lat,lon,index,GEO.id,GEO.id2,GEO.display-label,D001
0,360850009001000,40.644078,-74.080592,113,1000000US360850009001000,360850009001000,"Block 1000, Block Group 1, Census Tract 9, Ric...",97
1,360850020011000,40.610892,-74.071479,204,1000000US360850020011000,360850020011000,"Block 1000, Block Group 1, Census Tract 20.01,...",66
2,360850027001000,40.626236,-74.076504,339,1000000US360850027001000,360850027001000,"Block 1000, Block Group 1, Census Tract 27, Ri...",297
3,360850040001000,40.611064,-74.088017,438,1000000US360850040001000,360850040001000,"Block 1000, Block Group 1, Census Tract 40, Ri...",62
4,360850064001000,40.600955,-74.077923,634,1000000US360850064001000,360850064001000,"Block 1000, Block Group 1, Census Tract 64, Ri...",62

In [105]:
pop['GEO.id2'] = pop['GEO.id2'].astype(str)

In [106]:
pop.drop(0, axis=0, inplace=True)

In [107]:
cb_required['FIPS'] = cb_required['FIPS'].astype(str)

/opt/rh/anaconda/root/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [108]:
pop.reset_index(inplace=True)

In [109]:
(pop['GEO.id2'][0])

'360470001001001'

In [110]:
(cb_required['FIPS'][0])

'360850009001000'

In [80]:
foo.rename(columns={'$FIPS' : 'code'}, inplace=True)

In [112]:
foo.columns = [u'code', u'lat', u'lon', u'index', u'GEO.id', u'GEO.id2',
       u'GEO.display-label', u'acs_pop']

In [113]:
foo.head()

,code,lat,lon,index,GEO.id,GEO.id2,GEO.display-label,acs_pop
0,360850009001000,40.644078,-74.080592,113,1000000US360850009001000,360850009001000,"Block 1000, Block Group 1, Census Tract 9, Ric...",97
1,360850020011000,40.610892,-74.071479,204,1000000US360850020011000,360850020011000,"Block 1000, Block Group 1, Census Tract 20.01,...",66
2,360850027001000,40.626236,-74.076504,339,1000000US360850027001000,360850027001000,"Block 1000, Block Group 1, Census Tract 27, Ri...",297
3,360850040001000,40.611064,-74.088017,438,1000000US360850040001000,360850040001000,"Block 1000, Block Group 1, Census Tract 40, Ri...",62
4,360850064001000,40.600955,-74.077923,634,1000000US360850064001000,360850064001000,"Block 1000, Block Group 1, Census Tract 64, Ri...",62

In [114]:
cb_nyc = foo[['lat', 'lon', 'code', 'acs_pop']]

In [115]:
cb_nyc.head()

         lat        lon             code acs_pop
0  40.644078 -74.080592  360850009001000      97
1  40.610892 -74.071479  360850020011000      66
2  40.626236 -74.076504  360850027001000     297
3  40.611064 -74.088017  360850040001000      62
4  40.600955 -74.077923  360850064001000      62

In [116]:
cb_nyc.to_csv('../accessibility/otp-routing/input_data/zcb_nyc.csv', index=False)